<a href="https://colab.research.google.com/github/pannhapatk/DTSWK/blob/master/05_ws.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
# ws1
import pandas as pd

datas = [1.2, 2.3, 1.5, 2, 3, 1.8, 1.4, 2.5]
ds = pd.Series(datas)
ds.mean()
# ds.max()
ds.std()
# ds.describe()
ds.values

array([1.2, 2.3, 1.5, 2. , 3. , 1.8, 1.4, 2.5])

In [15]:
# ws2 
print("อ่านไฟล์ excel ข้อมูลจาก drive uri เป็น Dataframe = 'stats_freq.xlsx'")
uri = 'stats_freq.xlsx'
df = pd.read_excel(uri)
print("df.dtypes ทดลองดูชนิดข้อมูลด้วย dtypes")
df.dtypes
print ("======")

อ่านไฟล์ excel ข้อมูลจาก drive uri เป็น Dataframe = 'stats_freq.xlsx'
df.dtypes ทดลองดูชนิดข้อมูลด้วย dtypes
======

In [16]:
df.mean()

Age    27.0000
Buy     1.9625
Sex     1.3750
dtype: float64

In [17]:
print("Dataframe to Categorical Data นามบัญญัติ หมวดหมู่")
df.Sex = df.Sex.astype('category')
df.dtypes
print ("======")

Dataframe to Categorical Data นามบัญญัติ หมวดหมู่
======

In [18]:
# df.head()
print ("Head",df.head())
print ("======")
print ("describe ดูค่าสถิติเบื้องต้น ค่าเฉลี่ย ค่าเบี่ยงเบนมาตรฐาน std ค่า min max และ ควอไทล์",df.describe())
print ("count จำนวนข้อมูลทั้งหมด แถว ")
print ("mean.ค่าเฉลี่ย")
print (" std ค่าส่วนเบี่ยงเบนมาตรฐาน ")
print (" 20% 50% 75% ค่าควอไทล์ ")
print (" min ค่าต่ำสุด max ค่าสูงสุด")
print ("======")
# df.mean()
print ("mean",df.mean())
print ("======")
# df.max()
print ("max",df.max())
print ("======")
# df.std()
print ("std",df.std())
print ("======")

Head       Name  Age  Buy Sex Gender                 Date
0  Kobkiat   25  1.2   1      M  2020-11-10 09:10:00
1    ณิแนน   22  2.3   2      F     15/10/2020 10:00
2    จอห์น   25  1.5   1      M     15/10/2020 10:00
3      Tim   35  2.0   1      M     15/10/2020 10:00
4     Jang   32  3.0   2      F     15/10/2020 10:01
======
describe ดูค่าสถิติเบื้องต้น ค่าเฉลี่ย ค่าเบี่ยงเบนมาตรฐาน std ค่า min max และ ควอไทล์              Age       Buy
count   8.000000  8.000000
mean   27.000000  1.962500
std     4.472136  0.611643
min    22.000000  1.200000
25%    24.500000  1.475000
50%    25.500000  1.900000
75%    29.000000  2.350000
max    35.000000  3.000000
count จำนวนข้อมูลทั้งหมด แถว
mean.ค่าเฉลี่ย
 std ค่าส่วนเบี่ยงเบนมาตรฐาน
 20% 50% 75% ค่าควอไทล์
 min ค่าต่ำสุด max ค่าสูงสุด
======
mean Age    27.0000
Buy     1.9625
Sex     1.3750
dtype: float64
======
max Name      แดง
Age        35
Buy         3
Sex         2
Gender      M
dtype: object
======
std Age    4.472136
Buy    0.611643
Sex    0.517549
dtype: float64
======

In [19]:
# ws3
datas = [1.2, 2.3, 1.5, 2, 3, 1.8, 1.4, 2.5]
ds = pd.Series(datas)
ds.median()

1.9

In [20]:
ds.sort_values().values

array([1.2, 1.4, 1.5, 1.8, 2. , 2.3, 2.5, 3. ])

In [22]:
# WS4
uri = 'stats_freq.xlsx'
df = pd.read_excel(uri)
df.dtypes
df.Sex = df.Sex.astype('category')
df.Buy.median()       # ไม่ต้องสั่ง sort เนื่องจาก Pandas ทำให้เอง
df.median()       # ไม่ต้องสั่ง sort เนื่องจาก Pandas ทำให้เอง
# df.Age.mode()

Age    25.5
Buy     1.9
Sex     1.0
dtype: float64

In [ ]:
# ws5
datas = [25, 22, 25, 35, 32, 28, 23, 26]
ds = pd.Series(datas)
ds.mode()

In [ ]:
# ws6
uri = 'data/stats_freq.xlsx'
df = pd.read_excel(uri)
df.dtypes
df.Sex = df.Sex.astype('category')
df.Age.mode()

In [ ]:
df.std()

In [ ]:
# ws7
datas = [8, 4, 10, 2, 6, 5, 1, 7, 9, 3, 0] 
ds = pd.Series(datas)
ds.describe()
# ds.quantile([0.25, 0.5, 0.75])

In [ ]:
# ws
ds.quantile([0.1,0.2, 0.5, 0.7, 0.8])
ds.quantile([0.05, 0.1, 0.15, 0.2, 0.25])

In [ ]:
# ws8

datas = [1, 2, 1, 2, 1, 1, 1, 2]
datas = ['M', 'F', 'M', 'F', 'M', 'M' , 'M', 'F']

ds = pd.Series(datas)

print(ds.value_counts())
print('Total ', ds.count())

In [ ]:
# 
%matplotlib inline

ds.value_counts().plot.bar(grid=True)
# df.dtypes

In [ ]:
# ws9
uri = './data/stats_freq.xlsx'
df = pd.read_excel(uri)
df.head()
df.Sex.value_counts()
df.Gender.value_counts()

In [ ]:
df.hist()